h1 {
  padding: 20px;
  color: rgb(0, 139, 139);
}

.table {
  margin-bottom: 0px;
}

table th,td {
  text-align: center;
}

.heading-row th, .panel-default>.panel-heading {
  color: white;
  background-color: rgb(0, 139, 139);
}

.table-striped > tbody > tr:nth-of-type(odd), .panel-body {
  background-color: rgba(0, 139, 139, 0.1);
}

#refresh-time {
  color: rgb(100, 100, 100)
}

.fa:hover {
  cursor: pointer;
}
